extends ./_layouts/weather_mobile

block weather_content
  .page-title
    h1= title
  .content-box
    .list.ot-region
      each item in regions
        .list-item
          .item
            a(href=links.weather.places.byAdm1(item.admin1_code, {ul:currentCulture.language}))= item.getName(currentCulture.language)
