extends ./_layouts/weather

block preview
  h1= title

block weather_content
  .content-box
    .list.ot-region
      each item in regions
        .list-item
          .item
            a(href=links.weather.places.byAdm1(item.admin1_code, {ul:currentCulture.language}))= item.getName(currentCulture.language)
