// Ournet weather top
ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-3959589883092051', data-ad-slot='5132869431', data-ad-format='auto')
script.
  (adsbygoogle = window.adsbygoogle || []).push({});
