extends ./normal-mobile

block normal_content
  #page-data
    #page-data-inner
      if (location)
        #user-location
          for item, i in location
            a(href=item.href)= item.text
            if (i < location.length - 1)
              ='  › '
      block weather_content
      br
      .text-center.gads-end-list
        // Receptiv
        ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-3959589883092051', data-ad-slot='9938029439', data-ad-format='auto')
        script.
          (adsbygoogle = window.adsbygoogle || []).push({});
      br
