
include simple-daily-report

if (forecast)
  .weather-table
    - var currentDateTime = currentDate.toDate().getTime()-1000*60*60*2;
    - var rows=0;
    - for (var ri=0;rows<reportDays&&ri<forecast.days.length;ri++)
      - var day = forecast.days[ri];
      if (day.times[day.times.length-1].time > currentDateTime)
        - rows++
        +simpleDailyReport(day, place)
        if (rows === 2)
          .text-center
            // Ournet weather report top
            ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-3959589883092051', data-ad-slot='2239682634', data-ad-format='auto')
            script.
              (adsbygoogle = window.adsbygoogle || []).push({});
        if (rows === 2 && config.oneSignal)
          include ./notifications-subscribe-bar
        if (rows === 5)
          include ./cocoshelform
        if (rows === 7 && reportDays > 7)
          .text-center
            // Ournet weather report middle
            ins.adsbygoogle(style='display:block', data-ad-client='ca-pub-3959589883092051', data-ad-slot='3716415837', data-ad-format='auto')
            script.
              (adsbygoogle = window.adsbygoogle || []).push({});

    //- #weather-source-footer
      span#yr-logo
      = __('weather_cright')
    p.small.text-muted= subTitle
